/*
.header-nav-items{
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin-bottom: 0px;
  }
  
  .header-nav-items li{
    display: inline-flex;
  }
*/

.header-nav-items{
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 15px;
}

.header-nav-items li{
  display: inline-flex;
  align-items: center;
}

.header-nav-items img{
  width: 20px;
  height: 20px;
  margin-right: 6px;
}